*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5%;
}
.links{
    gap: 5%;
}
.productCard{
    margin-top: 2%;
    padding: 8px;
    transition: 0.2s;
}
.productCard:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.productCard i{
    color: goldenrod;
}
